#signcontainer {
  /* border: 1px solid blue !important; */
  /* height: 500px; */
  background-color: rgba(1, 8, 10, 0.35) 0px 5px 15px;
  transition-property: all;
  width: 100%;
  margin: auto;
  flex-direction: column;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition-property: all;
  transition-duration: 1s;
  /* transition-delay: 1s; */
}

#buttonsign,
#buttonlogin {
  transition-property: all;
  transition-duration: 3s;
  /* transition-delay: 1s; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  padding: 2%;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* background-color: - */
}
#buttonsign,
#buttonlogin:hover {
  background-color: aqua;
}

#head {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
  background-color: rgb(151, 52, 52);
  padding: 5px;
  font-weight: bold;
  /* background-color:black */
}
#head::after:hover {
  background-color: rgb(gold);
  transition-delay: 2sec;
  transition: 2sec;
  -webkit-transition: 2sec;
  -moz-transition: 2sec;
  -ms-transition: 2sec;
  -o-transition: 2sec;
}
#custo {
  font: bold;
  font-size: 50px;
  text-shadow: rgba(0, 0, 0, 0);
}

#FULLDIV {
  background-color: rgb(31, 15, 3);
  margin: auto;
  text-align: center;
  width: 50%;
  transition-property: all;
  transition-duration: 10s;
}
#FULLDIV:hover {
  background-color: rgb(89, 43, 9);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

#headingname {
  text-decoration: overline;
  text-align: left;

  margin-right: 80px;
  font-family: 'Times New Roman', Times, serif, 100px;
  transition-property: all;
  transition-duration: 2s;
  transition-delay: 1s;
  background-color: transparent;
}
#headingname {
  color: rgb(187, 139, 17);
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
}
.inputsize {
  /*flex-wrap: wrap;
  */
  padding: 5px;
  /*color: blue;
  */
  margin-top: 10px;
  transition-property: all;
  transition-duration: 5s;
}
.inputsize {
  color: blue;
  font-size: 20px;
  background-color: blanchedalmond;
}
.inputsize:hover {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

#buttonlogin {
  width: 300px;
  background-color: bisque;
}
.inputsize {
  width: 100%;
  height: 100%;
}
#logina {
  text-align: center;
  color: teal;
  font: inherit;
  font-size: 14px;
  /* font-size: 14px; */
}
